@import '../../variables.scss';
mat-card {
    @include mat-card-base;
    mat-card-title {
        font-size: 35px;
    }
    mat-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        .content-container {
            display: flex;
            flex-direction: column;
            .band-members-container,
            .biography-container,
            .other-info-container {
                display: flex;
                justify-content: space-around;
                &:not(.other-info-container) {
                    flex-flow: row wrap;
                }
            }
        }
    }
}