<mat-toolbar>
  <a routerLink="" class="home-link">Bombs Blast</a>
  <!-- TODO: Logo should go here or something like that probably -->
  <!-- This fills the remaining space of the current row -->
  <span class="fill-space"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="" mat-menu-item>Home</a>
    <a routerLink="about" mat-menu-item>About</a>
    <a routerLink="media" mat-menu-item>Media</a>
    <a routerLink="tour" mat-menu-item>Tour</a>
    <a routerLink="contact-us" mat-menu-item>Contact Us</a>
  </mat-menu>
</mat-toolbar>